<div class="p-2 px-4">
  <!-- search-row -->
  <div class="relative mb-4">
    <input
      type="text"
      placeholder="People, groups or messages"
      class="p-2 input-field"
    />
    <button
      class="material-symbols-rounded absolute top-2 right-2 icon--primary"
    >
      search
    </button>
  </div>
  <!-- tabs -->
  <div class="flex justify-between border-b border-b-border">
    <!-- chat icon -->
    <a href="#" class="tab tab--active">
      <span class="material-symbols-rounded tab__icon"> chat </span>
      <p class="tab__text">Chats</p>
    </a>
    <!-- new chat icon -->
    <a href="#" class="tab">
      <span class="material-symbols-rounded tab__icon"> chat_add_on </span>
      <p class="tab__text">New Chat</p>
    </a>
    <!-- group chat icon -->
    <a href="#" class="tab">
      <span class="material-symbols-rounded tab__icon"> groups_3 </span>
      <p class="tab__text">Group Chat</p>
    </a>
  </div>
</div>
