<!-- video call -->
<div
  class="flex flex-col max-w-sm border border-border min-h-screen bg-contrast text-on-contrast"
>
  <main class="flex-grow grid grid-rows-2">
    <div class="receiver grid place-items-center">
      <div class="call__img">
        <img
          src="../../assets/receiver.png"
          alt=""
          class="object-cover w-full h-full"
        />
      </div>
      <h2></h2>
    </div>

    <div class="caller relative">
      <img src="../../assets/caller.png" class="object-cover w-full" alt="" />
      <button
        class="swipe absolute bottom-4 text-center left-1/3 animate-bounce"
      >
        <span class="material-symbols-rounded animate-pulse">
          keyboard_double_arrow_up
        </span>
        <p>Swipe to answer</p>
      </button>
    </div>
  </main>

  <footer class="flex justify-center gap-4 items-center p-4 bg-contrast">
    <button class="material-symbols-rounded call__icon">chat</button>
    <button class="material-symbols-rounded call__icon call__icon--info">
      video_call
    </button>
    <button class="material-symbols-rounded call__icon call__icon--error">
      call_end
    </button>
  </footer>
</div>

<!-- audio call -->

<!-- <div class="flex flex-col min-h-screen bg-contrast text-on-contrast">
  <main class="flex-grow flex flex-col justify-center items-center">
    <div class="text-center">
      <div class="call__img">
        <img src="../../../assets/receiver.png" alt="" class="object-cover" />
      </div>
      <h1 class="font-bold">Shreeva Timsina</h1>
      <div class="mt-2">Durap audio call</div>
    </div>
  </main>
  <button class="text-center mt-auto animate-bounce">
    <span class="material-symbols-rounded animate-pulse">
      keyboard_double_arrow_up
    </span>
    <p>Swipe to answer</p>
  </button>
  <footer class="flex justify-center gap-4 items-center p-4 bg-contrast">
    <button class="material-symbols-rounded call__icon">chat</button>
    <button class="material-symbols-rounded call__icon call__icon--info">
      video_call
    </button>
    <button class="material-symbols-rounded call__icon call__icon--error">
      call_end
    </button>
  </footer>
</div> -->
