// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
@include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
$chat-primary: mat.define-palette(mat.$indigo-palette);
$chat-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
$chat-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
$chat-theme: mat.define-light-theme(
  (
    color: (
      primary: $chat-primary,
      accent: $chat-accent,
      warn: $chat-warn,
    ),
  )
);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
@include mat.all-component-themes($chat-theme);

/* You can add global styles to this file, and also import other style files */
@import "~flowbite/dist/flowbite.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: 255, 255, 255;
  --gray: 158, 158, 158;
  --gray-dark: 102, 102, 102;

  --gray-darkest: 33, 33, 33;
  --gray-light: 224, 224, 224;
  --gray-lightest: 238, 238, 238;

  --primary: 218, 64, 54;
  --primary-dark: 196, 27, 22;
  --primary-light: 224, 92, 85;
  --primary-lightest: 248, 231, 230;

  --secondary: 55, 186, 219;
  --secondary-dark: 22, 148, 192;
  --secondary-light: 85, 196, 224;
  --secondary-lightest: 231, 247, 251;

  --warning: 237, 108, 2;
  --warning-dark: 230, 81, 0;
  --warning-light: 255, 152, 0;
  --warning-lightest: 255, 245, 330;

  --info: 2, 136, 209;
  --info-dark: 25, 118, 210;
  --info-light: 3, 169, 244;
  --info-lightest: 233, 245, 254;

  --success: 46, 125, 50;
  --success-dark: 27, 94, 32;
  --success-light: 76, 175, 80;
  --success-lightest: 111, 204, 115;
}
// icomoon
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?5jpq8c");
  src: url("fonts/icomoon.eot?5jpq8c#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?5jpq8c") format("truetype"),
    url("fonts/icomoon.woff?5jpq8c") format("woff"),
    url("fonts/icomoon.svg?5jpq8c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Download:before {
  content: "\e91a";
}
.icon-more-vert:before {
  content: "\e919";
}
.icon-chat:before {
  content: "\e900";
}
.icon-arrow-back:before {
  content: "\e901";
}
.icon-attach:before {
  content: "\e902";
}
.icon-call:before {
  content: "\e903";
}
.icon-call-red:before {
  content: "\e903";
  @apply text-primary;
}
.icon-call-duration:before {
  content: "\e904";
}
.icon-call-out:before {
  content: "\e905";
}
.icon-call-up:before {
  content: "\e906";
}
.icon-camera-switch:before {
  content: "\e907";
}
.icon-cross:before {
  content: "\e908";
}
.icon-done:before {
  content: "\e909";
  color: #4caf50;
}
.icon-done-gray:before {
  content: "\e909";
  @apply text-gray;
}
.icon-done-double:before {
  content: "\e90a";
  color: #4caf50;
}
.icon-expand:before {
  content: "\e90b";
}
.icon-group:before {
  content: "\e90c";
}
.icon-group-add:before {
  content: "\e90d";
}
.icon-is-typing:before {
  content: "\e90e";
  color: #da4036;
}
.icon-mic:before {
  content: "\e90f";
}
.icon-no-video:before {
  content: "\e910";
  color: #da4036;
}
.icon-photo:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-send-arrow:before {
  content: "\e913";
}
.icon-speaker:before {
  content: "\e914";
}
.icon-swipe-up .path1:before {
  content: "\e915";
  color: rgb(102, 102, 102);
}
.icon-swipe-up .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(102, 102, 102);
  opacity: 0.72;
}
.icon-swipe-up .path3:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(102, 102, 102);
  opacity: 0.72;
}
.icon-video:before {
  content: "\e918";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-smile:before {
  content: "\e9e1";
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @apply text-gray font-base;
}
// scrollbar
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary-lightest;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-light;
}

.tab {
  @apply w-28 overflow-hidden grid place-items-center py-1 rounded-t-md relative hover:bg-slate-50  transition-colors;
  &--active {
    @apply after:absolute after:w-full after:h-0.5 after:bottom-0  after:bg-success before:absolute before:inset-0 before:bg-gray-lightest before:-z-10;
  }
  &__text {
    @apply font-semibold text-gray-darkest;
  }
}
.chat {
  @apply flex gap-2  hover:bg-info-lightest transition-colors border-b items-end border-b-gray-lightest px-2 py-3 rounded-md;
  &__text {
    @apply flex justify-between flex-col ml-2;
  }
  .name {
    @apply text-gray-darkest text-sm font-semibold mb-1;
  }
  .content__text {
    @apply text-xs text-gray-dark flex items-center gap-2 max-w-[120px] truncate;
    &--error {
      @apply text-primary font-semibold;
    }
  }
  &__unread {
    @apply ml-auto w-4 h-4 text-xs grid text-center rounded-full text-white bg-primary-light;
  }
  &__img {
    @apply w-8 h-8 lg:w-10 lg:h-10 relative before:absolute before:w-3 before:h-3  before:bottom-0 before:right-0 before:rounded-full before:bg-gray-dark before:border-2 before:border-gray;

    img {
      @apply w-full h-full rounded-full object-cover;
    }
  }
  &__status {
    @apply self-end ml-auto;
  }
  &__time {
    @apply text-xs flex items-center gap-1;
  }
}
.conversation .chat {
  @apply hover:bg-transparent border-none p-0;
}
.chat--online .chat__img {
  @apply before:bg-success-light before:border-success-lightest;
}

.options {
  &__text {
    @apply text-sm text-gray-dark;
  }
  &__btn {
    @apply absolute -right-8 top-0 text-gray grid place-items-center;
  }
}

// call
.details {
  @apply text-center;
  &__name {
    @apply font-bold;
  }
  &__status {
    @apply font-semibold;
  }
}

.call__img {
  @apply w-40 h-40 rounded-full  overflow-hidden mx-auto;
  img {
    @apply w-full h-full  object-cover;
  }
}
.avatar__name {
  @apply grid place-items-center text-5xl font-bold bg-primary p-6 aspect-square rounded-full;
}

// message row
.row--receiver {
  @apply pl-8;
}
.row__container {
  @apply md:max-w-sm lg:max-w-lg;
  &--receiver {
    @apply ml-auto;
  }
}
.wrapper {
  @apply flex gap-2 relative;
  &--receiver {
    @apply flex-row-reverse;
  }
}
.avatar-message {
  @apply flex items-end gap-4;
}
.message {
  @apply rounded-md text-gray-darkest text-sm lg:text-base p-3 flex flex-col gap-2;
  &--sender {
    @apply bg-primary-lightest;
  }
  &--receiver {
    @apply bg-gray-lightest;
  }
  &__time {
    @apply flex justify-end gap-2 text-xs mt-1;
  }
  &__options {
    @apply hidden lg:block self-center;
    .options {
      @apply flex gap-2;
    }
  }
  &__file {
    @apply mt-2 flex items-center gap-4 bg-white rounded-md max-w-max px-3 py-2 hover:bg-gray-light cursor-pointer;
  }
}
.fileicon {
  @apply w-8 h-8;
}
.file {
  &__title {
    @apply text-base text-gray-dark;
  }
  &__info {
    @apply flex text-sm text-gray mt-2;
  }
}

// modal
// forward list
.forward {
  &__list {
    @apply grid divide-y divide-gray-light overflow-y-auto;
  }
  &__item {
    @apply flex gap-4 items-center p-2;
  }
}

.forward__item__avatar {
  @apply ml-4 w-10 h-10 lg:w-12 lg:h-12;

  img {
    @apply w-full h-full rounded-full object-cover;
  }
}
